<div class="container"> 
    <div class="row">
        <div class="col-sm-3 notices-column" style="padding:0;">
          <div class="card notice-card position-fixed">
              <div class="card-header notice-card-header">
                  Events / Notices 
              </div>
              <div class="card-body" style="padding-left: 10px;">
                <marquee behavior="up" direction="up" scrollamount="5">
                <ul>
                    <li>
                        Purus elementum phasellus ultrices. At fames neque vehicula habitasse convallis.
                    </li>
                    <li>
                        Purus elementum phasellus ultrices. At fames neque vehicula habitasse convallis.
                    </li>
                    <li>
                        Purus elementum phasellus ultrices. At fames neque vehicula habitasse convallis.
                    </li>
                    <li>
                        Purus elementum phasellus ultrices. At fames neque vehicula habitasse convallis.
                    </li>
                    <li>
                        Purus elementum phasellus ultrices. At fames neque vehicula habitasse convallis.
                    </li>
                    <li>
                        Purus elementum phasellus ultrices. At fames neque vehicula habitasse convallis.
                    </li>
                    <li>
                        Purus elementum phasellus ultrices. At fames neque vehicula habitasse convallis.
                    </li>
                    <li>
                        Purus elementum phasellus ultrices. At fames neque vehicula habitasse convallis.
                    </li>
                    <li>
                        Purus elementum phasellus ultrices. At fames neque vehicula habitasse convallis.
                    </li>
                    <li>
                        Purus elementum phasellus ultrices. At fames neque vehicula habitasse convallis.
                    </li>
                </ul>    
                </marquee>
                
              </div>
          </div>
        </div>
        <div class="col-sm-6 post-column">
         <div class="card">
             <div class="card-body">
                    
                        <div class="row">
                            <div class="col-sm-2 create-post-image">
                                <img src="../../../assets/icons/post.png" width="24px" height="24px">
                            </div>
                            <div class="col-sm-10 text-left">
                                <a href="#" style="color:gray">
                                    Create a post
                                </a>
                            </div>
                        </div>
             </div>
             <div class="card-footer">
                 <button class="createPost-buttons"><img src="../../../assets/icons/photo.png" style="margin-right:5px;" width="20px" height="20px">Photo / Video</button>
                 <button class="createPost-buttons"><img src="../../../assets/icons/tag.png" style="margin-right:5px;" width="20px" height="20px">Tag Friends</button>
                 <button class="createPost-buttons"><img src="../../../assets/icons/emoji.png" style="margin-right:5px;" width="20px" height="20px">Feeling / Activity</button>
             </div>
         </div>
         <app-post></app-post>
         <app-post></app-post>
         <app-post></app-post>
        </div>
        <div class="col-sm-3 events-column">
           <div class="card connect-suggestions-card position-fixed">
               <div class="card-header " style="padding:10px 10px;">
                   <h6>Connection Suggestions</h6>
               </div>
               <div class="card-body">
                <app-profile-request></app-profile-request>
               </div>
           </div>
        </div>
    </div>
</div>