<div >
    <div class="row" style="font-size: 15px;">
        <div class="col-sm-2">
          <img src="../../../../assets/images/profile-image.jpg" class="invitation-image img-thumbnail">
        </div>
        <div class="col-sm-6" style="padding-left: 0;">
            <div style="margin-top: 20px;">
                <h5 style="margin-bottom: 0px;">Shubham sharma</h5>
                <p style="color: gray;">software developer</p>
            </div>
         
        </div>
        <div class="col-sm-2">
         <button class="btn btn-outline-info request-buttons">Accept</button>
        </div>
        <div class="col-sm-2">
         <button class="btn btn-outline-secondary request-buttons">Ignore</button>
        </div>
     </div>
</div>
