<div class="card">
   <div class="card-header">
    <div class="row">
        <div class="col-sm-2">
          <img src="../../../../assets/icons/apple_logo.jpg" class="post-user-icon" height="30px" width="30px">
        </div>
        <div class="col-sm-7" style="padding-left: 0;">
            <h6 class="post-user-name">Apple India</h6>
           <br>
            <p><img src="../../../../assets/icons/history.png" width="15px" height="15px" style="margin-bottom: 2px;"> 8 hrs</p>
        </div>
        <div class="col-sm-3">
        <button class="open-menu"><img src="../../../../assets/icons/open-menu.png" height="20px" width="20px"></button>
        </div>

    </div>
        
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                    <img class="postImage" src="../../../../assets/images/post-sample-image-1.jpg" >
            </div>
        </div>
   </div>
   <hr style="margin: 0;">
   <div class="show-like-count">
       <img src="../../../../assets/icons/like-display.png" class="like-count-display"> 15 likes ●  2 comments
   </div>
   <div class="card-footer">
                 <button class="social-buttons"><img class="social-icons"src="../../../../assets/icons/like.png" style="margin-right:5px;" width="20px" height="20px">Like</button>
                 <button class="social-buttons"><img class="social-icons"src="../../../../assets/icons/comment.png" style="margin-right:5px;" width="10px" height="10px">Comment</button>
                 <button class="social-buttons"><img class="social-icons" src="../../../assets/icons/share.png" style="margin-right:5px;" width="10px" height="10px">Share</button>
   </div>
</div>