<!-- <app-message *ngFor="let message of chatMessages" [chatMessage]="message" ></app-message> -->
<!-- 
<div class="feed">
    <div *ngFor="let message of chatMessages" class="message">
      <app-message [chatMessage]=message></app-message>
    </div>
  </div>
   -->
   <div class="mesgs">
    <div class="msg_history">
      
      <div *ngFor="let message of chatMessages" class="message">
        <app-message [chatMessage]=message></app-message>
      </div>
    </div>
    <app-chat-form></app-chat-form>
  </div>