
    <div class="row mainrow">
        <div class="col-sm-1"></div>
      <div class="col-sm-6 " style="margin-left: 35px;">
        <div class="card">
          <div class="card-header boxsize">
            <img src="../assets/icons/default-cover.png" class="img-fluid">
          </div>
          <div class="card-body box-size">
            <div class="row boxsize">
              <div class="col-sm-5">
                <img src="../../../assets/images/profile-image.jpg" class="profile-edit-picture img-thumbnail">
              </div>
              <div class="col-sm-7  boxsize">
                <div class="btn-group boxsize" style="margin-left: 100px;">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add profile section
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item dropdownstyling" href="#">Intro</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item dropdownstyling" href="#">About</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item dropdownstyling" href="#">Background</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item dropdownstyling" href="#">Skills</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item dropdownstyling" href="#">Accomplishments</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item dropdownstyling" href="#">Additional Information.</a>
                    <div class="dropdown-divider"></div>
                  </div>
                </div>
                <button class="btn-more">More..</button>
                <a href="#">
                  <img src="../assets/icons/edit.png" height="20px" width="20px" style="margin: 15px;">
                </a>
      
              </div>
            
            </div>
            <div class="row boxsize">
              <div class="col-sm-7 boxsize">
                <h5 class="font-bold">Shubham Sharma</h5>
                <p style="font-size: 14px;" class="boxsize">Student at Panipat Institute of Engineering & Technology.</p>
                <p  style="font-size: 13px;"class="boxsize"> Panipat, Haryana, India .   <span ><a href="#" class="text-blue">Contact Info</a></span></p>
              </div>
              <div class="col-sm-5">
                 <div class="row boxsize" style="margin-top: 20px;">
                   <div class="col-sm-3">
                    <img src="../assets/icons/college.png" class="img-styling">
                   </div>
                   <div class="col-sm-9">
                     <p style="font-size: 12px; color: gray; font-weight: 400px;">Panipat Institute of Engineering and Technology.</p>
                   </div>
                 </div>
              </div>
            </div>
            <div class="row boxsize">
              <div class="col-sm-12 boxsize">
                
                
              </div>
            </div>
            
          </div>
        </div>
        <div class="card card-spacing">
          <div class="card-body">
            <div class="row boxsize">
              <div class="col-sm-11">
                <p>Education</p>
              </div>
               <div class="col-sm-1">
                 <img src="../assets/icons/plus.png" height="20px" width="20px">
      
               </div>
              </div>
              <div class="row boxsize">
                <div class="col-sm-2">
                 <img src="../assets/icons/college.png " class="img-styling">
                 
                </div>
                <div class="col-sm-9 boxsize">
                <p class="font-bold boxsize">Panipat Institute of Engineering & Technology</p>
                <p style="font-size: 14px;" class="boxsize">Bachelor of Technology- Computer Science</p>
                <p style="font-size: 12px;" class="boxsize">2017-2021</p>
                </div>
                <div class="col-sm-1">
                  <img src="../assets/icons/edit.png" height="20px" width="20px">
                </div>
              </div>
              </div>
        </div>
        <div class="card card-spacing">
          <div class="card-body">
            <div class="row boxsize">
              <div class="col-sm-11">
                <p>Interests</p>
              </div>
               <div class="col-sm-1">
                 
               </div>
              </div>
              <div class="row boxsize">
                <div class="col-sm-2">
                 <img src="../../../assets/icons/interests.png " class="img-styling">
                 
                </div>
                <div class="col-sm-9 boxsize">
                <p class="font-bold boxsize">Developers, Engineering & Technology.</p>
                <p style="font-size: 14px;" class="boxsize">905,233 followers</p>
                </div>
                <div class="col-sm-1">
                  <img src="../../../assets/icons/edit.png" height="20px" width="20px">
                </div>
              </div>
              </div>
        </div>
      
      </div>
      <div class="col-sm-3  boxsize" style="margin-left: 7px;">
        
        <a href="#"  class="editprofile"><span>Edit Public Profile & URL</span></a>
        
        <hr>
      
        <a href="#"  class="editprofile"><span>Add Profile in another languages.</span></a>
        <hr>
      
        <img src="../../../assets/images/alumni.jpg" class="img-fluid img-thumbnail">
      
        <p style="padding-top:10px">Add new skills with these courses.</p>
      
        <div class="row">
          <div class="col-sm-4">
            <img src="../../../assets/images/image.jpg" class="img-fluid img-thumbnail">
          </div>
          <div class="col-sm-8">
            <p class="font-bold boxsize">Strategic Thinking</p>
            <p>Viewers : 234000</p>
          </div>
        </div>
      
        <div class="row row-spacing" >
          <div class="col-sm-4">
            <img src="../../../assets/images/image.jpg" class="img-fluid img-thumbnail">
          </div>
          <div class="col-sm-8">
            <p class="font-bold boxsize">Strategic Thinking</p>
            <p>Viewers : 234000</p>
          </div>
        </div>
      
        <div class="row row-spacing" >
          <div class="col-sm-4">
            <img src="../../../assets/images/image.jpg" class="img-fluid img-thumbnail">
          </div>
          <div class="col-sm-8">
            <p class="font-bold boxsize">Strategic Thinking</p>
            <p>Viewers : 234000</p>
          </div>
        </div>
      
        <div class="row row-spacing" ></div>
        <a href="#"><p style="font-size: 14px;">See All Recomendations</p></a>
      </div>
      <div class="col-sm-1">
      
      </div>
        </div>

