
    <div class="group-styling">
        <img  class ="image-styling img-thumbnail" src="../../../../assets/images/profile-image.jpg" >
         <p  class="text-center " style=" margin-top:8px ; font-size: 15px; font-weight: bold; margin-bottom: 0px;">Shubham Sharma</p>
         <p class="text-center" style="  font-size:12px ; margin: 0px;">Software Developer</p>
         <div class="education-detail">
             <div class="row">
                 <div class="col-sm-3">
                    <img src="../../../../assets/icons/college.png" alt="college" height="25px" width="25px" style="margin-top: 10px;">
                 </div>
                 <div class="col-sm-9" style="padding-left: 12px; color:gray">
                    Panipat Institute of Engineering and Technology
                 </div>
             </div>
         </div>
            <button class="btn btn-outline-info request-buttons">Connect</button>
            <button class="btn btn-outline-secondary request-buttons">Ignore</button>
         
    </div>