<div class="application-outlet" style="top: auto;">
    <div class="row " style="margin-left: 50px; margin-top: 40px;">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Manage my network</h6>
                    <div class="community-summary-sub-section">
                        <!-- list items   -->


                        <!-- connection -->


                        <a href="#" class="manage-network-links">
                            <div class="row tuples">
                                <div class="col-md-2">
                                    <img src="../../../assets/icons/connection.png" height="20px" width="20px">
                                </div>
                                <div class="col-md-8 text-left">
                                    Connections
                                </div>
                                <div class="col-md-2 text-left">

                                </div>
                            </div>
                        </a>

                        <!-- Contacts    -->

                        <a href=# class="manage-network-links">
                            <div class="row tuples">
                                <div class="col-md-2">
                                    <img src="../.././assets/icons/contact.png" height="20px" width="20px">
                                </div>
                                <div class="col-md-8 text-left ">
                                    Contacts
                                </div>
                                <div class="col-md-2 text-left">

                                </div>

                            </div>
                        </a>


                        <!-- People I Follow -->
                        <a href="#" class="manage-network-links">
                            <div class="row tuples">
                                <div class="col-md-2">
                                    <img src="../../../assets/icons/man.png" height="20px" width="20px">
                                </div>
                                <div class="col-md-8  text-left">
                                    People I Follow
                                </div>
                                <div class="col-md-2 text-left">

                                </div>
                            </div>
                        </a>

                        <!-- Groups -->
                        <a href="#" class="manage-network-links">
                            <div class="row tuples">
                                <div class="col-md-2">
                                    <img src="../../../assets/icons/talk.png" height="20px" width="20px">
                                </div>
                                <div class="col-md-8 text-left">
                                    Groups
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                        </a>

                        <!-- Pages -->
                        <a href="#" class="manage-network-links">
                            <div class="row tuples">
                                <div class="col-md-2">
                                    <img src="../../../assets/icons/browser.png" height="20px" width="20px">
                                </div>
                                <div class="col-md-8 text-left ">
                                    Pages
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                        </a>


                        <!-- Hashtags -->
                        <a href="#" class="manage-network-links">
                            <div class="row tuples">
                                <div class="col-md-2">
                                    <img src="../../../assets/icons/hashtag.png" height="20px" width="20px">
                                </div>
                                <div class="col-md-8  text-left">
                                    Hashtags
                                </div>
                                <div class="col-md-2 text-left">

                                </div>
                            </div>
                        </a>
                    </div>
                    <hr>
                    <!-- Advertisement point -->
                    <div class="image-section">
                        <img src="../../../assets/images/alumni.jpg" class="img-fluid img-thumbnail">
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-7">
            <div class="card">
                <div class="card-header" style="font-size: 18px;">
                    <div class="row">
                        <div class="col-md-4">
                            Invitations
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-right">
                            Manage
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <app-invitation-request></app-invitation-request>
                </div>
            </div>
            <div class="card card-spacing">
                <div class="card-body">
                    <div class="row" style="font-size: 15px;">
                        <div class="col-md-6">
                            People you may know
                        </div>
                        <div class="col-md-6 text-right"><a href="#">See All</a></div>
                    </div>
                    <hr>
                    <div class="row">
                        <app-profile-request></app-profile-request>
                        <app-profile-request></app-profile-request>
                        <app-profile-request></app-profile-request>
                        <app-profile-request></app-profile-request>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>