<body>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6 " style="padding-left: 40px; padding-right: 0px;">
            <div class="card">
                <div class="card-header">
                    <div>
                        Search Students
                    </div>
                    <hr>
                    <div class="row ">
                        <div class="col-sm-1 ">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Course
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">B.Tech</a>
                                    <a class="dropdown-item" href="#">M.Tech</a>
                                    <a class="dropdown-item" href="#">BBA</a>
                                    <a class="dropdown-item" href="#">MBA</a>
                                    <a class="dropdown-item" href="#">BCA</a>
                                    <a class="dropdown-item" href="#">MCA</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">

                        </div>
                        <div class="col-sm-1">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Branch
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">CSE</a>
                                    <a class="dropdown-item" href="#">IT</a>
                                    <a class="dropdown-item" href="#">MECH.</a>
                                    <a class="dropdown-item" href="#">ECE</a>
                                    <a class="dropdown-item" href="#">EEE</a>
                                    <a class="dropdown-item" href="#">CIVIL</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">

                        </div>
                        <div class="col-sm-1">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Year
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">2020</a>
                                    <a class="dropdown-item" href="#">2019</a>
                                    <a class="dropdown-item" href="#">2018</a>
                                    <a class="dropdown-item" href="#">2017</a>
                                    <a class="dropdown-item" href="#">2016</a>
                                    <a class="dropdown-item" href="#">2015</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <form method="post" style="margin-left: 30px;">
                                <input type="text" class="textbox" placeholder="Search by Name">
                                <input title="Search " value="" type="submit" class="button">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row boxsize">
                        <div class="col-sm-4 col-spacing">
                            <div class="card" style="width: 150px;">
                                <div class="card-header boxsize ">
                                    <img src="../assets/icons/default-cover.png" class="img-fluid">
                                </div>
                                <div class="card-body boxsize">
                                    <div class="row boxsize">
                                        <img src="../../assets/images/profile-picture.jpg"
                                            class="profile-edit-picture img-thumbnail">
                                    </div>
                                    <div class="row boxsize">
                                        <div class="col-sm-12 boxsize">
                                            <p class="font-bold text-center">Divya Singh</p>
                                        </div>
                                    </div>
                                    <div class="row boxsize">
                                        <div class="col-sm-12 boxsize">
                                            <button class="btn-more">Info</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4  col-spacing">
                            <div class="card " style="width: 150px;">
                                <div class="card-header boxsize ">
                                    <img src="../assets/icons/default-cover.png" class="img-fluid">
                                </div>
                                <div class="card-body boxsize">
                                    <div class="row boxsize">
                                        <img src="../../assets/images/profile-picture.jpg"
                                            class="profile-edit-picture img-thumbnail">
                                    </div>
                                    <div class="row boxsize">
                                        <div class="col-sm-12 boxsize">
                                            <p class="font-bold text-center">Divya Singh</p>
                                        </div>
                                    </div>
                                    <div class="row boxsize">
                                        <div class="col-sm-12 boxsize">
                                            <button class="btn-more">Info</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-spacing">
                            <div class="card " style="width: 150px;">
                                <div class="card-header boxsize ">
                                    <img src="../assets/icons/default-cover.png" class="img-fluid">
                                </div>
                                <div class="card-body boxsize">
                                    <div class="row boxsize">
                                        <img src="../../assets/images/profile-picture.jpg"
                                            class="profile-edit-picture img-thumbnail">
                                    </div>
                                    <div class="row boxsize">
                                        <div class="col-sm-12 boxsize">
                                            <p class="font-bold text-center">Divya Singh</p>
                                        </div>
                                    </div>
                                    <div class="row boxsize">
                                        <div class="col-sm-12 boxsize">
                                            <button class="btn-more">Info</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-spacing">
                            <div class="card " style="width: 150px;">
                                <div class="card-header boxsize ">
                                    <img src="../assets/icons/default-cover.png" class="img-fluid">
                                </div>
                                <div class="card-body boxsize">
                                    <div class="row boxsize">
                                        <img src="../../assets/images/profile-picture.jpg"
                                            class="profile-edit-picture img-thumbnail">
                                    </div>
                                    <div class="row boxsize">
                                        <div class="col-sm-12 boxsize">
                                            <p class="font-bold text-center">Divya Singh</p>
                                        </div>
                                    </div>
                                    <div class="row boxsize">
                                        <div class="col-sm-12 boxsize">
                                            <button class="btn-more">Info</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 " style="margin-left: -70px;">
            <div class="card ">
                <div class="card-header">
                    <p class="boxsize">Publish Notice</p>
                </div>
                <div class="card-body ">
                    <div class="row">
                        <div class="col-sm-12">
                            <form method="post">
                                <textarea placeholder="Add Text of Notice" rows="15" name="comment[text]"
                                    id="comment_text" cols="32" class="ui-autocomplete-input" autocomplete="off"
                                    role="textbox" aria-autocomplete="list" aria-haspopup="true"></textarea>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="margin-top: 8.5px;">
                    <div class="row">
                        <div class="col-sm-8"></div>
                        <div class="col-sm-4">
                            <button class="btn btn-publish">Publish</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>

    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6" style="margin-left:25px; margin-top:25px;">
            <div class="card">
                <div class="card-header">Send Message</div>
                <div class="card-body card bg-light text-dark">
                    <form action="/action_page.php">
                        <div class="form-group">
                            <label for="email">To:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>
                    </form>
                    <form action="/action_page.php">
                        <div class="form-group">
                            <label for="usr">Subject:</label>
                            <input type="text" class="form-control" id="usr" name="username">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <form action="/action_page.php" style="width: 100%;">
                        <div class="form-group">
                            <label for="comment">Message:</label>
                            <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>